{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
     <header>
        <h1>Add New Student</h1>
    </header>
<div class="form-wrapper">
    <div class="form-container">
    {% comment %} <h2  class="form-title">Add New Student</h2> {% endcomment %}
    
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="submit-btn ">Add Student</button>
        <a href="{% url 'dashboard' %}" class="cancel">Cancel</a>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </form>
    </div>
</div>
</body>
</html>
