{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <header>{{ title }}</header>
    <div class="form-wrapper">
         <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Save</button>
            <a href="{% url 'upload' %}" class="cancel">Back</a>
        </form>
         </div>
    </div>
</body>
</html>
